/**
 * @Desc：
 * @Usage:
 * @Notify：
 * @Depend：
 *
 * Created by Wangjingrong on 2018/4/16.
 */
.journalInfo {
  background: #F2F4F7;
  padding-bottom: 130px;
  &.tmp {
    margin-bottom: 130px;
  }

  .main-title {
    padding: 0 30px;
    font-size: 46px;
    color: #000000;
    line-height: 1.5;
    padding-top: 48px;
    padding-bottom: 28px;
    background: #fff;
    font-weight: bold;
    .time {
      margin-top: 10px;
      font-size: 28px;
      color: #909090;
      font-weight: normal;
      .resourcesOrder {
        margin-left: 40px;
      }
    }
  }
  .doctorInfo {
    padding: 0 30px;
    background: #fff;
    padding-bottom: 64px;
    min-height: 150px;
    .content {
      border-radius: 8px;
      width: 100%;
      min-height: 20vw;
      box-sizing: border-box;
      padding: 20px 30px;
      position: relative;
      background-color: #f7f7f7;
      &.app {
        border: 1px solid #A9CFFF;
      }
      img {
        width: 96px;
        height: 96px;
        display: block;
        float: left;
        border-radius: 50%;
        margin-right: 24px;
      }
      .message {
        overflow: hidden;
        .doctorName {
          font-weight: bold;
          font-size: 34px;
          color: #25324D;
          margin-right: 20px;
          display: inline-block;
          margin-bottom: 10px;
        }
        .doctorLevel {
          display: inline-block;
          font-size: 30px;
          color: #9DA3AF;
          letter-spacing: 0;
          line-height: 30px;
        }
        .hospital {
          font-size: 30px;
          color: #25324D;
          letter-spacing: 0;
          line-height: 1.5;
          max-width: 450px;
          @include ellipsis();
        }
      }
      .icon-next {
        position: absolute;
        display: block;
        right: 30px;
        top: 50px;
        height: 36px;
        width: 20px;
        background: url("/static/image/img00/healthKnowledge/arrow-next.png") no-repeat;
        background-size: contain;
      }
    }

  }
  .knowledgeInfo {
    background: #fff;
    padding: 0 30px 30px;

    p {
      font-size: 30px;
      color: #444444;
      line-height: 1.5;
      margin-bottom: 32px;
      word-break: break-all;
      white-space: pre-wrap;
    }
    img {
      display: block;
      width: 100%;
      margin-bottom: 40px;
    }
    video {
      width: 100%;
    }
    .videoInfo {
      padding: 0 0 80px;
      background: #fff;
      .videoStyleOrder {
        width: 100%;
        height: 380px;
        position: relative;
        margin-bottom: 40px;
        .videoPlayBox {
          width: 100%;
          height: 380px;
          visibility: hidden;
          @include iphoneX() {
            object-fit: cover;
          }
        }
        .img-preview {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
        }
        .videoPlayBtn {
          display: block;
          width: 144px;
          height: 144px;
          margin-bottom: 0;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: 3;
          transform: translate(-50%, -50%);
        }
      }
      .title {
        font-size: 30px;
        color: #444444;
        line-height: 1.5;
        margin-bottom: 40px;
      }
      .describe {
        font-size: 30px;
        color: #444444;
        line-height: 1.5;
      }
    }
    .audioInfo {
      width: 100%;
      height: 100px;
      white-space: nowrap;
      line-height: 100px;
      background: #F2F4F7;
      border-radius: 4px;
      .audioPlayIcon {
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        margin-left: 40px;
        margin-bottom: 0;
      }
      .audioPlayWire {
        display: inline-block;
        width: 420px;
        height: 4px;
        background: #DADDE4;
        vertical-align: middle;
        margin: 0 35px;
      }
      .audioPlayTime {
        display: inline-block;
        font-size: 30px;
        color: #29A3A3;
        vertical-align: middle;
      }
    }
  }
}
