@charset "UTF-8";
@import "../library/common-modules";

html,body{
  height: 100%;
}
.wx-main-inner {
  $main-color-textLeft: #555555;
  $main-color-background: #F3F6F7;
  &.wx-orderForPay-main {
    height: 100%;
    .wx-main-content.no-marginTop {
      background-color: #F3F6F7;
    }
  }
  .wx-main-content {

    margin-top: 10px;
    background-color: $main-color-background;
    &.no-marginTop.reviewNetOrder{
      background-color: #F3F6F7;
      height: 100%;
    }
    &.no-marginTop {
      margin-top: 0;
      background-color: #ffffff;
    }
  }
  .wx-surgical-commBox {
    background-color: #ffffff;
    padding-top: 42px;
    margin-bottom: 14px;
    .wx-surgical-commTitle {
      font-size:16px;
      position: relative;
      color: $main-color-textLeft;

      padding-left: 42px;
      //line-height: 16px;
      &:after {
        position: absolute;
        content: '';
        width: 6px;
        height: 24px;
        left: 28px;
        top: 50%;
        margin-top: -12px;
        background-color: #4CD3C6;
      }
      //手术时间标题
      &.wx-surgical-commTime {
        margin-top: 52px;
      }
    }
    .wx-surgical-commCenter {
      padding: 44px 48px 0 48px;
      .wx-surgical-commItemBox {
        padding-bottom: 48px;
        .wx-surgical-commItemList-left {
          font-size:15px;
          display: inline-block;
          width: 125px;
          padding-right: 68px;
          color: #909090;
          &.wx-multiLine-textLeft{
            display: block;
            float: left;
          }
        }
        .wx-surgical-commItemList-right {
          font-size:16px;
          vertical-align: top;
          color: #555555;
          &.wx-multiLine-textRight{
            display: block;
            padding-left: 200px;
            .wx-netOrderNameList{
              padding-right:48px;
            }
          }
        }
        &.wx-multiLine-textBox{
          @include clearfix();
        }
        &.wx-surgical-compare-itemBox {
          border: 1px solid #D9F2F2;
          border-radius: 4px;
          padding-bottom: 0;
          position: relative;
          .wx-selectBtn-recommend {
            position: absolute;
            display: inline-block;
            width: 64px;
            height: 64px;
            background: url("/image/img00/wx/pay_hook_inactivated.png") no-repeat center;
            background-size: 100% 100%;
            bottom: -2px;
            right: -2px;
          }
        }
      }
      .wx-surgical-compare-titleBox {
        padding: 32px 34px;
        background-color: #D9F2F2;
        .wx-surgical-compare-title {
          //padding: 32px 34px;
          //background-color: #D9F2F2;
          .wx-surgical-compare-logo {
            display: inline-block;
            width: 36px;
            height: 36px;
            vertical-align: bottom;
            line-height: 42px;
            background: url("/image/img00/wx/pay_hospital_inactivated.png") no-repeat center;
            background-size: 100% 100%;
          }
          .wx-surgical-compare-text {
            line-height: 1;
            margin-left: 6px;
            display: inline-block;
            font-size:16px;
            vertical-align: bottom;
            color: #6B7698;
          }
          .wx-surgical-compare-tips {
            margin-left: 16px;
            display: inline-block;
            vertical-align: bottom;
            width: 52px;
            height: 24px;
            padding: 4px 8px;
            line-height: 32px;
            font-size:10px;
            color: #F7854B;
            border: 1px solid #F7854B;
            border-radius: 2px;
            text-align: center;
          }
        }
      }
      .wx-surgical-compare-listBox {
        @include clearfix();
        padding-top: 34px;
        padding-left: 4px;
        .wx-surgical-compare-listItem {
          position: relative;
          float: left;
          font-size:13px;
          color: #6B7698;
          opacity: 0.85;
          padding: 0 15px 0 54px;
          margin-bottom: 30px;
          &:before {
            position: absolute;
            display: table;
            content: '';
            width: 6px;
            height: 6px;
            left: 32px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            top: 50%;
            margin-top: -3px;
            background-color: #6B7698;
          }
        }
      }
      &.wx-surgical-not-recommend {
        .wx-surgical-compare-itemBox {
          border: 1px solid #F2F2F2;
          .wx-surgical-compare-titleBox {
            background-color: #F2F2F2;
            .wx-surgical-compare-text {
              color: #BDBDBD;
            }
          }
        }
        .wx-surgical-compare-listBox {
          .wx-surgical-compare-listItem {
            color: #BDBDBD;
            &:before {
              background-color: #BDBDBD;
            }
          }
        }
        .wx-surgical-commItemBox.wx-surgical-compare-itemBox {
          .wx-selectBtn-recommend {
            display: none;
          }
        }
      }
      &.wx-surgical-commSelect {
        .wx-surgical-compare-itemBox {
          border-color: #00CFC0;
          .wx-surgical-compare-titleBox {
            background-color: #00CFC0;
            .wx-surgical-compare-logo {
              background: url("/image/img00/wx/pay_hospital_activation.png") no-repeat center;
              background-size: 100% 100%;
            }
          }
          .wx-selectBtn-recommend {
            background: url("/image/img00/wx/pay_hook_activation.png") no-repeat center;
            background-size: 100% 100%;
          }
        }
      }
      //就诊地点
      &.surgical-commAreaBox {
        .surgical-commAreaBoxItem {
          background-color: #F9FBFB;
          padding: 28px 0;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          border-radius: 8px;
          .wx-commAreaLogo-right {
            font-size:15px;
            display: inline-block;
            position: relative;
            padding-left: 100px;
            color: #333333;
            .wx-commHospitalBtn-left {
              position: absolute;
              background: url("/image/img00/wx/pay_positioning.png") no-repeat center;
              background-size: 100% 100%;
              width: 48px;
              height: 48px;
              left: 26px;
              top: 50%;
              margin-top: -24px;
            }
          }
        }
      }
    }
    &.wx-surgical-compareMain {
      padding-bottom: 86px;
      margin-bottom: 0;
    }
    //互联网手术单去标题
    &.wx-surgical-aboutNet {
      padding-top: 0;

    }
    //选择就诊医院
    &.wx-net-selectHospital {
      padding-bottom: 80px;
      .wx-surgical-commCenter {
        .wx-hospitalInfo-itemBox {
          padding: 28px 80px;
          margin-bottom: 28px;
          background-color: #F9FBFB;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          border-radius: 8px;
          .wx-commHospitalBtn-right {
            position: relative;
            font-size:15px;
            color: #909090;
            .wx-commHospitalBtn-left {
              position: absolute;
              display: inline-block;
              left: -52px;
              width: 40px;
              height: 40px;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              background: url("/image/img00/wx/pay_select_inactivated-05.png") no-repeat center;
              background-size: 100% 100%;
              top: 50%;
              margin-top: -20px;
              &.selected {
                background: url("/image/img00/wx/pay_select_activation-06.png") no-repeat center;
                background-size: 100% 100%;
              }
            }
            &.wx-commTimeLogo-right {
              position: relative;
              padding-left: 100px;
              display: block;
              height: 86px;
              line-height: 86px;
              .wx-commHospitalBtn-left {
                position: absolute;
                width: 48px;
                height: 48px;
                background: url("/image/img00/wx/pay_time.png") no-repeat center;
                background-size: 100% 100%;
                left: 26px;
                top: 50%;
                margin-top: -24px;
              }
              .surgical-timeWait {
                font-size:15px;
                color: #333333;
              }
              .wx-surgical-timesYear{
                font-size:15px;
                color: #333333;
              }
              .wx-surgical-timeTips{
                font-size:15px;
                color: #333333;
              }
              .wx-surgical-timeSeconds{
                font-size:15px;
                color: #333333;
              }
            }
          }
          &.surgical-timeBox {
            padding: 0;
            margin-bottom: 0;
            .wx-commHospitalBtn-left {
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              border-radius: 0;
            }
            .wx-surgical-timeTips {
              padding-left: 20px;
            }
            .wx-surgical-timeSeconds{
              padding-left: 20px;
            }
          }
        }
      }
    }
    //就诊须知
    &.wx-surgical-mainBox {
      margin-bottom: 0;
      padding-bottom: 50px;
      .wx-surgical-commCenter {
        .surgical-instructions-close {
          font-size:14px;
          color: #909090;
        }
        .surgical-closeRolesBox {
          @include clearfix();
          padding-bottom: 50px;
          .surgical-rolesItemLeft {
            float: left;
            color: #333333;
            padding-top: 34px;
          }
          .surgical-rolesItemRight {
            float: right;
            color: #6B7698;
            padding-top: 34px;
            .order-costPercent {
              display: inline-block;
              color: #F76365;
              width: 80px;
              text-align: center;
            }
          }
          .surgical-hootTips {
            font-size:14px;
            color: #555555;
            padding-top: 30px;
            .surgical-hootTips-number {
              float: left;
            }
            .surgical-hootTips-text {
              padding-left: 30px;
            }
          }
        }
      }
    }
  }
  .wx-surgical-commOrderBtnBox {
    background-color: #ffffff;
    padding-bottom: 40px;
    .wx-surgical-orderBtn {
      font-size:16px;
      display: block;
      margin: 0 auto;
      color: #FFFFFF;
      width: 570px;
      height: 88px;
      text-align: center;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      background: #DFDFDF;
      &.wx-orderSelected {
        background-color: #00D6C6;
      }
    }
  }
  .wx-surgical-commBottomTips {
    padding-bottom: 100px;
    background-color: #fff;
    .surgical-bottomTextBox {
      position: relative;
      font-size:12px;
      width: 200px;
      margin: 0 auto;
      color: #BDBDBD;
      text-align: center;
      padding-left: 6px;
      .surgical-bottomText {
        border-bottom: 1px solid #BDBDBD;
      }
      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 28px;
        height: 28px;
        background: url("/image/img00/wx/pay_question.png") no-repeat center;
        background-size: 100% 100%;
        left: -28px;
        top:50%;
        margin-top: -12px;
      }
    }
    .wx-surgical-commTipsMain {
      display: none;
      .wx-surgical-commExplainBox {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #555555;
        opacity: 0.78;
        z-index: 1;
      }
      .wx-surgical-commExplainCenter {
        position: fixed;
        top: 40%;
        left: 50%;
        width: 540px;
        margin-top: -270px;
        margin-left: -270px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        background: #ffffff;
        z-index: 5;
        .wx-surgical-commTipsBox {
          position: relative;
          .wx-surgical-commExplain-title {
            text-align: center;
            font-size:16px;
            color: #333333;
            padding-top: 48px;
            padding-bottom: 28px;

          }
          .wx-surgical-commExplain-content {
            padding: 0 40px 80px 40px;
            font-size:15px;
            color: #555555;
          }
          .wx-surgical-commTipsCloseBtn {
            position: absolute;
            bottom: -96px;
            left: 50%;
            margin-left: -28px;
            width: 56px;
            height: 56px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background: url("/image/img00/wx/surgery_delete@2x.png") no-repeat center;
            background-size: 100% 100%;

          }
        }
      }
    }
  }
  //互联网手术单提交按钮
  .wx-surgical-commSubmitBox {
    width: 100%;
    background: #DFDFDF;
    .wx-surgical-commSubmitBtn {
      font-size:16px;
      width: 100%;
      text-align: center;
      padding: 32px 0;
      color: #FFFFFF;
      &.active {
        background-color: #00D6C6;
      }
    }
  }
  //公立医院提交预览时间样式
  .submitPublicOrder,.reviewNetOrder,.publicOrderDetails{
    .wx-baseSurgicalTime,.wx-baseSurgicalWeek,.wx-baseSurgicalDate{
      font-size:15px;
      color: #333333;
    }
    .wx-baseSurgicalTime{
      margin-right: 0;
    }
    .wx-baseSurgicalDate{
      display: inline-block;
      padding-left: 20px;
    }
  }
}
